[defaults]
inventory = ./inventory
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ~/.ansible/facts_cache
fact_caching_timeout = 3600
forks = 10
pipelining = True
interpreter_python = auto_silent
retry_files_enabled = False
display_skipped_hosts = False
display_ok_hosts = False
deprecation_warnings = False

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=300s -o PreferredAuthentications=publickey
control_path = ~/.ansible/cp/ansible-ssh-%%h-%%p-%%r
pipelining = True
