---
downloads: ~/.ansible-downloads/

# Options: 
configure_dotfiles: true
configure_macos: true
configure_linux: true

GITHUB_USERNAME: "qovert"

mac_packages:
  #- 1password-cli
  - gh
  - oh-my-posh
  - ncdu
  - tree
  - pstree
  
mac_cask_packages:
  - docker
  - powershell
  - font-fira-code
  - obsidian
  - firefox
  - iterm2
  - visual-studio-code

common_packages:
  #- git
  #- zsh
  - firefox

linux_packages:
  - distrobox
  - flatpak
  - bpytop
  - powershell
  - bpytop
  - 1password
  - 1password-cli
  - code
  - tree
  - zsh
  - direnv
  - gnome-tweaks
  - vim

linux_flatpak_packages:
  - md.obsidian.Obsidian
  - com.discordapp.Discord
